.load{
    width: 200px;
    height: 200px;
    margin: auto;
    position: relative;
    top: 25%;
    perspective: 500px;
    transform-style: preserve-3d;
    .circle{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border-bottom: 5px solid orange;
        border-radius: 50%;
        &:nth-child(1){
            border-color: #0097e6;
            animation: move1 1.2s linear -.8s infinite;
        }
        &:nth-child(2){
            border-color: #8c7ae6;
            animation: move2 1.2s linear -.4s infinite;
        }
        &:nth-child(3){
            border-color: #e1b12c;
            animation: move3 1.2s linear  infinite;
        }
    }
}

@keyframes move1 {
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotate(0);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotate(360deg);
    }
}
@keyframes move2 {
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotate(0);
    }
    100%{
        transform: rotateX(50deg) rotateY(10deg) rotate(360deg);
    }
}
@keyframes move3 {
    0%{
        transform: rotateX(45deg) rotateY(55deg) rotate(0);
    }
    100%{
        transform: rotateX(45deg) rotateY(55deg) rotate(360deg);
    }
}
